.rbc-calendar{
    color: #f57c73
}


.rbc-btn-group button{
    color: #f57c73
}
.rbc-event {
    background-color: #f57c73;;
}
.rbc-event-content {
    background-color: #f57c73;
    border: 0cm;
}

.rbc-event.rbc-selected{
    background-color: #f57c73;
}

.rbc-off-range-bg {
    background-color: rgb(142, 141, 141);
}

